<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ch.indr.threethreefive">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".ThreeThreeFiveApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.StartActivity"
            android:label="@string/app_label"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ButtonGuideActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activities.ListGuideActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activities.NowPlayingProxyActivity"/>
        <activity
            android:name=".ui.activities.UiSelectionActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.activities.AccessibilityNoticeActivity"
            android:label="Accessibility Notice"
            android:theme="@style/AppTheme">
        </activity>

        <service
            android:name=".libs.net.HttpClientSpiceService"
            android:exported="false"/>
        <service
            android:name="com.example.android.uamp.MusicService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2b5031a9df14f3011326c9e96c376f0fc4af5ecc"/>
    </application>

</manifest>